.labContainer{
    font-family: 'Roboto', sans-serif;
    text-decoration: transparent;
    width: 400px;
    height: 250px;
    margin: 40px;
    border: 20px;
    border-style: dashed;
    border-color:#c91212;
    background-color: wheat;
}

li{
    font-size: 20px;
    list-style-type: none;
}